/* animation-direction: normal;  */
/* animation-direction: reverse;  If animate slideLeft, would slide right */
/* animation-direction: alternate;  slideLeft, left then right then left */
/* animation-direction: alternate-reverse;  slideLeft, right, then left, then right */
/* animation-timing-function: ease-in-out;  the normal state (speeds up, then slows down)  */
/* animation-timing-function: linear;  constant speed entire animation  */
h1{
    text-align: center;
    font-size: 3em;
    animation-name: glowName;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
body{
    background-color: lightgrey;
}
@keyframes glowName{
    100%{text-shadow: 0px 0px 40px purple}
}
#box1{
    width: 180px;
    height: 40px;
    text-align: center;
    /* margin-left: 150px; */
    background-color: rgb(196, 176, 236);
    animation-duration: 30s;
    animation-iteration-count: infinite; /*Or an integer for number of iterations*/
    animation-play-state: paused;
    animation-play-state: running;
    animation-name: colorChange;
    
}

#box1:hover{
    animation-name: glow;
    animation-duration: 2s;
}
#box1:activate{ /* Left-click on element causes it to fade away*/
    animation-name: fade;
}
@keyframes glow{
    /* horizontal, vertical offset, blur-radius, color */
    100%{box-shadow: 0px 0px 20px black}
}
@keyframes colorChange{
    0%{background-color: orange}
    20%{background-color: yellow}
    40%{background-color: green}
    60%{background-color: blue}
    80%{background-color: indigo}
    100%{background-color: violet} 
}
.pagination{
    text-align: center; /* I want it in the middle of the screen*/
}
.pagination a{ /* Format page links */
    color: black;
    text-decoration: none;
    padding: 8px 15px; /* Spread the numbers out*/
    display: inline-block;  /* We can now adjust the width and height of these div elements (block-level element)*/
}
.pagination a.active{ /*Within the pagination class, anchors that are in the active class*/
    background-color: skyblue;
    font-weight: bold;
    border-radius: 30px; /* To make Circular bubbles*/
}
.pagination a:hover:not(.active){ /*Within the pagination class, all anchor tags that are hovered, and NOT in the active class*/
    background-color: darkcyan;
    font-weight: bold;
    border-radius: 30px; 
}

main{ /*Navigation bar stretches the entire screen (not in main) while main content has a little margin to the sides*/
    margin-left: 30px;
    margin-right: 30px;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: grey;
}
.navbar ul{ /* Unordered list in navbar*/
    list-style-type: none; /* Remove bullet points */
    padding: 0px;
    margin: 0px;
    overflow: hidden; /* Must do because we're going to float list left to make it horizontal*/
}
.navbar li{ /* List items in the navbar*/
    float: left; /* Make the items lay horizontally rather than vertically*/
    font-size: 2em;
    margin-right: 2.5em;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px; 
    text-align: center; 
}
.navbar a:hover{
    background-color: rgb(196, 176, 236);
}
h2{
    color: red;
    font-size: 40px;
    text-align: center;
}
.increase{
    animation-name: grow;
    animation-duration: 2s;
}
@keyframes grow{
    /* During entire time, scale 200% along x and y of element */
    100%{transform: scale(2,2)}
}
.gallery{
    display: inline-block;
    margin: 20px;
    height: 200px;
    width: 300px;
}
.gallery h2{
    width: 100%;
    height: 30px;
    color: black;
    font-size: 2em;
}
.gallery img{
    box-sizing: border-box;
    border: 5px solid black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.gallery .promotion{
    text-align: center;
    padding: 2px;
    font-size: 23px;
}
.gallery:hover{
    animation-name: glowGallery;
    animation-duration: 3s;
}
@keyframes glowGallery{
    /* horizontal, vertical offset, blur-radius, color */
    100%{box-shadow: 0px 0px 40px black};
}

.dropdown{ /*Div is block-level so pointing around the button (and not directly on it) activates hover button */
    display:inline-block; /* Make it inline-block here so the buton itself (and not the whitespace) activates hover button */
}
.dropdown button{
    background-color: orange;
    color: white;
    padding: 10px 10px; /* Padding between and button sides*/
    cursor: pointer; /* Turns cursor to a finger pointer*/
}
.dropdown:hover button{
    background-color: mediumpurple;
}
.dropdown a{
    display: block; /* Make links block format*/
    color: black;
    text-decoration: none;
    padding: 10px 10px; /* Padding between links and sides*/
    cursor: pointer;
}
.dropdown:hover .content{
    display: block; /* Display the dropdown items upon hover*/
}
.dropdown a:hover{
    background-color: mediumblue; 
    color: white;
}
.dropdown .content{
    position: absolute; /*absolute: relative to nearest ancestor (Vendors button)*/
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 0px 15px maroon;
    display: none; /*If user navigates away from content dropdown, hide it again */
}
